
@import url('https://fonts.googleapis.com/css?family=Alegreya|Libre+Franklin|Roboto+Slab|Source+Sans+Pro|Tinos');
body{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Alegreya',serif;
	color:#fff;

}

header {
	background-color: rgba(0,0,0,0.5);
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-style: italic;
}

hr{
	width: 200px;
}

div{
	padding: 20px;
}

#two_column{

	padding: 20px;
}

#left{
	padding: 1em 0;
	float: left;
	width: 30%;
}

#right{
	padding: 1em 0;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}

footer{

}

p{
	font-size: 22px;
}

img{
	size:100px;
}

ul{
	font-size: 18px;
	font-style: bold;
}
li{
	text-align: center;
	list-style-type: none;
}

a{
	font-size:20px;
}


#slogan{
	font-style:italic; ;
	text-align: center;
	font-size: 18px;
}