
@import url('https://fonts.googleapis.com/css?family=Alegreya|Libre+Franklin|Roboto+Slab|Source+Sans+Pro|Tinos');
body{
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Alegreya',serif;
	color:#fff;

}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	font-style: italic;
}

hr{
	width: 200px;
}

div{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

aside{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

p{
	font-size: 22px;
}

img{
	size:100px;
}

ul{
	font-size: 18px;
	font-style: bold;
}
li{
	text-align: center;
	list-style-type: none;
}

a{
	font-size:20px;
}


#slogan{
	font-style:italic; ;
	text-align: center;
	font-size: 18px;
}